/* FULL SCREEN CENTER */
.login-container {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN BOX */
.login-box {
  width: 340px;
  padding: 28px;
  border-radius: 14px;

  background: #1e1e1e;
  color: white;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 18px;
}

/* INPUTS */
.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;

  background: #2c2c2c;
  border: none;
  border-radius: 6px;
  color: white;
}

/* BUTTON */
.login-box button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

/* ROLE COLORS */
.teacher-btn {
  background: #4da3ff;
  color: white;
}

.admin-btn {
  background: #ff5e5e;
  color: white;
}

.student-btn {
  background: #4caf50;
  color: white;
}
